.container {
  display: flex;
  justify-content: center;
  user-select: none;
}

#canvas {
  border: 1px solid #ccc;
}

.color__select {
  background-color: #eee;
  margin-left: 20px;
  padding: 10px;
  width: 170px;
}

.color__select-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 20px;
}

.color {
  border: 1px solid #555;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.active__color {
  box-shadow: 0 0 5px #555;
  transform: scale(1.1);
}

.eraser {
  cursor: pointer;
  display: block;
  font-size: 18px;
  margin-top: 20px;
}

.eraser input {
  margin-right: 5px;
}
