.container {
  display: flex;
  justify-content: center;
  user-select: none;
}

#canvas {
  border: 1px solid #ccc;
}

.color__select {
  align-items: center;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 20px;
  width: 260px;
}

.eraser {
  align-items: center;
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  font-size: 18px;
  margin-top: 20px;
}

.eraser input {
  margin-right: 5px;
}
