.container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  user-select: none;
}

#canvas {
  border: 1px solid #ccc;
}

.panel {
  align-items: center;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 20px;
  width: 260px;
}

.info {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 10px 0 20px;
}

.input {
  text-align: left;
  width: 30%;
}

.input label {
  display: block;
  padding-bottom: 3px;
  padding-left: 5px;
}

.input input {
  font-size: 18px;
  padding: 5px;
  width: 100%;
}

.tools {
  border-top: 1px solid #ccc;
  display: flex;
  justify-self: flex-start;
  padding: 20px 10px;
  width: 100%;
}

.icon {
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-right: 5px;
  padding: 5px;
  width: 40px;
}

.icon:hover {
  transform: scale(1.1);
}

.icon--active {
  border: 3px solid #999;
}

.icon img {
  width: 100%;
}
