.info {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 10px 0 20px;
}

.input {
  text-align: left;
  width: 30%;
}

.input label {
  display: block;
  padding-bottom: 3px;
  padding-left: 5px;
}

.input input {
  font-size: 18px;
  padding: 5px;
  width: 100%;
}
